
 #map {
        height: 100%;
        border-radius:5px;
        position: relative;
        top:25px;

        }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .places{
      background-color:yellow;

      width:20px;
      height:10px;
      }
      .filterform{
      position:relative;
      top:40px;
      border-radius:5px;
      border-color:yellow;
      }
      .nav{
      background-color:#ecd674;
      border-radius:5px;
      }
      .places-list{
      margin-right:10px;
      color:blue;
      position:relative;
      top:20px;
      }
      .nessa{
      text-align:center;
      position:relative;
      bottom:-25px;
      }
      .fsquare{
        float:left;
      }
